<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387904699475-rado7brar1vutdaek0598taaovs0g4lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387904699475-rado7brar1vutdaek0598taaovs0g4lv</string>
	<key>API_KEY</key>
	<string>AIzaSyB2WjTblwwOIQlECqCZDicX_1lv7KYUdgw</string>
	<key>GCM_SENDER_ID</key>
	<string>387904699475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.winsportsonline.wso</string>
	<key>PROJECT_ID</key>
	<string>win-sports-online</string>
	<key>STORAGE_BUCKET</key>
	<string>win-sports-online.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387904699475:ios:be77254562e18c09</string>
	<key>DATABASE_URL</key>
	<string>https://win-sports-online.firebaseio.com</string>
</dict>
</plist>